body {
  color: #FFFFFF;
  background-color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

.subtitle { 
  color: White;
  border: 2px solid black;
  padding: 20px; 
  margin: auto;
  width: 300px;
}


#page-title { font-size: 48px; color: White; }
#my-name {
  color: White;
  font-size: 80px;
}

.ant-image {
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
}